
@{
    ViewBag.Title = "Hello, CakeMaster.";
    Layout = "_AdminLayout";
}
<br />
<br />
<div class="text-center">
    <a asp-action="AllProducts" class="btn btn-primary">View/Edit Products</a>
</div>
<br />
<br />
<div class="text-center">
    <a asp-area="" asp-controller="Order" asp-action="List" class="btn btn-primary">View Orders</a>
</div>
<br />
<br />
<div class="text-center">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">Home Page</a>
</div>