
@model Order

@{
    ViewBag.Title = "Edit Order";
    Layout = "_AdminLayout";
}
    <form asp-action="List" method="post">
        <input type="hidden" asp-for="OrderID" />
        <div class="form-group">
            <label asp-for="Status"></label>
            <div><span asp-validation-for="Status" class="text-danger"></span></div>
            <input asp-for="Status" class="form-control" />
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Save</button>
            <a asp-action="List" class="btn btn-secondary">Cancel</a>
        </div>
    </form>