<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll update your order througout the process.</p>

<h3>
    To view your order status press the button below!
</h3>

<div class="text-center">
    <a asp-area="" asp-controller="Order" asp-action="CustomerOrders" class="btn btn-primary">View your Order</a>
</div>