@model Order

<h2>Place your order.</h2>
<p>
    Please enter your details and don't forget to check the dilvery box.
</p>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="PlaceOrder" method="post">

    <h3>Customer details</h3>
    <div class="form-group">
        <label>Name:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Phone Number</label><input asp-for="Phone" class="form-control" />
    </div>
    
    <h3>Options</h3>
    <div class="checkbox">
        <label>
            <input asp-for="Delivery" /> Delivery
        </label>
    </div>
    <div class="form-group">
        <label>Description: ex: Happy birthday Christopher!, Class of 2019, Mrs. & Mr.</label><input asp-for="Description" class="form-control" />
    </div>
    <h3>Deliver to</h3>
    <div class="form-group">
        <label>Line 1:</label><input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 2:</label><input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 3:</label><input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label><input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip:</label><input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label><input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group">
        <label>Delivery Date</label><input asp-for="DeliveryDate" class="form-control" />
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Place Order" />
    </div>

    <a class="btn btn-sm btn-secondary navbar-btn"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fas fa-angle-double-left"></i>
    </a>

</form>