
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact Us</h1>
Feel free to contact us for any information regarding your order.
 
We will get back to you as soon as possible.
 
<h3>E-mail</h3>
cakemaster@outlook.com

<h3>Phone Number</h3>
574-527-9056
