
@{
    ViewData["Title"] = "CakeMaster Portfolio";
}
<h1>CakeMaster Portfolio</h1>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/fontawesome-free-5.11.2-web/css/all.css" rel="stylesheet" />
</head>

<h3>The Cake Master</h3>
<div class="gallery" center>
    <a href="~/CakeMaster Pictures/Carlos - ProfilePic.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Carlos - ProfilePic.jpg" /></a>
</div>

<html>
<head>
    <title>Image Gallery</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap - Port.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/lightbox.min.css" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/lightbox-plus-jquery.min.js"></script>
</head>
<body>
    <h1> Gallery </h1>
    <div class="gallery">
        <a href="~/CakeMaster Pictures/10.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/10.jpg" /></a>
        <a href="~/CakeMaster Pictures/15.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/15.jpg" /></a>
        <a href="~/CakeMaster Pictures/Specailty.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Specailty.jpg" /></a>
        <a href="~/CakeMaster Pictures/bow.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/bow.jpg" /></a>
        <a href="~/CakeMaster Pictures/BlueRose.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/BlueRose.jpg" /></a>
        <a href="~/CakeMaster Pictures/Wedding.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Wedding.jpg" /></a>
        <a href="~/CakeMaster Pictures/blocksstacked.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/blocksstacked.jpg" /></a>
        <a href="~/CakeMaster Pictures/Strawberries.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Strawberries.jpg" /></a>
        <a href="~/CakeMaster Pictures/Circles staked.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Circles staked.jpg" /></a>
        <a href="~/CakeMaster Pictures/LargeWedding.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/LargeWedding.jpg" /></a>
        <a href="~/CakeMaster Pictures/Elephant.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Elephant.jpg" /></a>
        <a href="~/CakeMaster Pictures/Half Tray.jpg" data-lightbox="mygallery"><img src="~/CakeMaster Pictures/Half Tray.jpg" /></a>
    </div>
</body>
</html>